.link-text:hover {
  opacity: 0.75;
}

.link-text--external:after {
  content: '➔';
  @apply pl-1;
}

.link-image {
  opacity: 0.75;
}

.link-image:hover {
  opacity: 1;
}

.link-page {
  @apply text-sm mx-2 pb-1;
}